.react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #e8dccf;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e8dccf;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: black;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: white;
  border-radius: 6px;
  font-weight: bold;
  color: black;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: white;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: white;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: white;
  color: black;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: white;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: white;
  color: black;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: white;
  color: black;
}

.bookButtons {
  min-width: 30px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: black;
  background: linear-gradient(
    90deg,
    /* rgba(129, 230, 217, 1) 0%,
      rgba(79, 209, 197, 1) 100% */ black
  );
  border: none;
  border-radius: 100px;
  box-shadow: 12px 12px 24px black;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin: 2%;
}

.bookButtons::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(80px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid white;
  box-shadow: 0 0 60px white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.bookButtons:hover,
.bookButtons:focus {
  color: #e8dccf;
  transform: translateY(-6px);
}

.bookButtons:hover::before,
.bookButtons:focus::before {
  opacity: 1;
}

.bookButtons::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 6px solid white;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.bookButtons:hover::after,
.bookButtons:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.booking-buttons {
  width: 400px;
  padding: 2%;
  margin: 7px;
}
